@font-face {
  font-family: 'AlfaSlabOne';
  src: url('../public/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf')
    format('truetype');
  font-weight: 100 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/Open_Sans/OpenSans-Light.ttf')
    format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/Open_Sans/OpenSans-Regular.ttf')
    format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/Open_Sans/OpenSans-Italic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/Open_Sans/OpenSans-Bold.ttf')
    format('truetype');
  font-weight: bold;
}
